In [ ]:
# Introduction to data science 

This kernel is designed to get someone started with the fundamentals in data science. It covers data types, syntaxes and 

# Refer to help at docs.python.org/3
# Lutz, Mark. Learning Python: Powerful Object-Oriented Programming. " O'Reilly Media, Inc.", 2013.
# Ana Bell, Eric Grimson and John Guttag.  Introduction to Computer Science and Programming in Python, MIT Open Course Ware, MIT 2017

In [ ]:
print('hello')

In [ ]:
print('hello\nWorld!')

In [ ]:
bool(1)

In [ ]:
x=('1')
y=i 
type(y)

In [ ]:
Name="Michael Jackson"
Name[-1]

In [ ]:
Name[0]

In [ ]:
Name[-2]

In [ ]:
Name[0:4]

In [ ]:
Name[5:10]

In [ ]:
Name[::2]

In [ ]:
len(Name)

In [ ]:
Statement = Name + " Is the best"
print(Statement)

In [ ]:
3*Name

In [ ]:
print(Name+" Hello \t hi \n wow\\hehe")

# Methods to replace string

In [ ]:
UpperName=Name.upper()
print(UpperName)

In [ ]:
ReplaceName=Name.replace('Michael','Janet')
print(ReplaceName)

In [ ]:
Name.find('el')

In [ ]:
print(Name)

# Tuples and lists

In [ ]:
tuple1 = (10, 9, 6, 5, 10, 8, 9, 6, 2)

In [ ]:
tuple2 = ('disco', 10, 1.2)
type(tuple2)

In [ ]:
tuple2[0]

In [ ]:
tuple2[1]

In [ ]:
tuple2[-3]

In [ ]:
tuple3 = tuple1 + tuple2
print(tuple3)

## Slicing Tuples

In [ ]:
tuple3[3:5]

In [ ]:
len(tuple3)

In [ ]:
tuple1_sorted=sorted(tuple1)
print(tuple1_sorted)

# Nesting

In [ ]:
NT=(1,2,("pop","rock"),(3,4),("disco",(1,2)))

In [ ]:
NT[2]

In [ ]:
NT[2][1]

In [ ]:
NT[2][1][0]

# Lists

In [ ]:
Name="Michel Jacksen"
    
L=[Name,10.1,1982]

In [ ]:
L[0]

In [ ]:
L[:]

In [ ]:
L.extend(["pop",10]) #adds based on number of elements
print(L)

In [ ]:
L.append(["pop",10]) #adds as one element
print(L)

In [ ]:
L[0]="hard rock" #adding 1 more to the list at the beginning (or wherever the character is to be inserted)
L

In [ ]:
del(L[0]) #removing the first element of the list
L

In [ ]:
"hard rock".split()

In [ ]:
"A,B,C,D".split(",") #Creates a list which separates each delimiter with an element

In [ ]:
M=L[:] #CLoning lists
M

In [ ]:
help(L) #get help on the name

In [ ]:
help(tuple1)

# Sets - like a collection - like lists and tuples but do not record element position

In [ ]:
Set1={"pop","soul","rock","hard rock","rock","R&B","rock","disco"} #notice that there are duplicate items, these won't be actually considered in the set
Set1

In [ ]:
Set2=set(L) #convert a list to a set
Set2

In [1]:
# Attempting to combine a list into a set, but it doesn't work :(


a=[(1,2,3),(2,5,8)]

print(a)

b=set(a)

print(b)

[(1, 2, 3), (2, 5, 8)]
{(2, 5, 8), (1, 2, 3)}

# Set operations

In [ ]:
Set1.add("Jazz")
Set1

In [ ]:
Set3={"pop","rock","rockers","poppers"}

In [ ]:
Set4=Set1&Set3 #Takes on the COMMON elements in both sets into a new set
print(Set1)
print(Set3)
print(Set4)

In [ ]:
Set4=Set1.union(Set3) #COMBINES elements of both sets into a new set
Set4

In [ ]:
Set1.issubset(Set4) #is Set1 part of Set4

# Dictionaries - contains keys and values

In [ ]:
D={'a':22,'b':34,'c':14} #key associated with a value

In [ ]:
D['a'] #finds value of the key

In [ ]:
D['d']=87 #add a new key & value to dictionary D
D

In [ ]:
del(D['d']) #remove the key 'd' in dictionary D
D

In [ ]:
if 'a' in D: #checking if the key is in the dictgionary
    print('found it!')

In [ ]:
D.keys() #find out what the keys are in the dictionary

In [ ]:
D.values() #find out what values are in the dictionary

In [ ]:
print(D) #find out all keys and values in dictionary

# Conditions and Branching

In [ ]:
a=6

In [ ]:
a==7 #validating the value

In [ ]:
b=7

In [ ]:
b>7

In [ ]:
b>=7 #equals or greater than

In [ ]:
b!=6 #not equals to

In [ ]:
"AC/DC"=="Michael Jackson"

In [ ]:
"AC/DC"!="Michael Jackson"

# If Statements

In [ ]:
age=18

if(age>=18):
    print("you can enter")

else:
    print("go see Meat Loaf")
    
print("move on")

In [ ]:
if (age>18):
    print("you can enter")

elif(age==18): #elseif
    print("go see Pink Floyd")
    
else:
    print("go see Meat Loaf")

print("move on")

# Logic Operators - take boolean values to produce different boolean values

In [ ]:
album_year = 1985

if (album_year<1980) or (album_year>1989):
    
    print("The Album was made in the 70's or 90's")

else:
    
    print("The Album was made in the 1980's")

In [ ]:
if (album_year>1979) and (album_year<1990):
    print("This Album was made in the 80's")

<img src="https://i.kym-cdn.com/photos/images/newsfeed/001/340/531/04c.gif" width="500" />

# Loops (for loops, while loops)

In [ ]:
i=range(10,15) #range in a sequence [10,11,12,13,14]
print(i)

In [ ]:
# For loop example

dates = [1982,1980,1973,1923,1824]
N = len(dates)

print(N)

for i in range(N):
    print(dates[i])

In [ ]:
dates = [1982,1980,1973,1923,1824]

for i in dates:
    print(i)

In [ ]:
# Example of for loop

for i in range(0, 8):
    print(i)

In [ ]:
# Example of for loop, loop through list

for year in dates: #prints the full range of dates
    print(year)

In [ ]:
squares=["red","yellow","green","purple","blue"]

print(squares)

for i in range(2,4): #replace the list with value
    squares[i]='white'
    
print(squares)

In [ ]:
squares=["red","yellow","green"]

for i,square in enumerate(squares): #enumerate can be used to obtain the index and the element in the list, i is the index, square is the element in that index
    
    print(square, i) #note that this is singular (not plural)
    
print(squares)

In [ ]:
squares2=['orange','orange','purple','blue']

Newsquares=[]
            
i=0

while(squares2[i]=='orange'):
    
    Newsquares.append(squares2[i])
    
    i=i+1

print(Newsquares)

In [ ]:
# Use for loop to change the elements in list

squares = ['red', 'yellow', 'green', 'purple', 'blue']

for i in range(0, 5):
    print("Before square ", i, 'is',  squares[i])
    squares[i] = 'weight'
    print("After square ", i, 'is',  squares[i])

In [ ]:
A=[3,4,5]

for a in A: #prints the values, not the associated index, needs enumerate
    print(a)

In [ ]:
# While Loop Example

dates = [1982, 1980, 1973, 2000]

i = 0
year = 0

while(year != 1973):
    year = dates[i]
    i = i + 1
    print(year)

print("It took ", i ,"repetitions to get out of loop.")

In [ ]:
#Print the elements in the list

Genres=['rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop']
N=len(Genres)

for i in range(N):
    print(Genres[i])

In [ ]:
#quicker way to go through items on the list

Genres=['rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop']

for Genre in Genres:
    print(Genre)

In [ ]:
PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]
i = 1
Rating = PlayListRatings[0]
while(Rating >= 6):
    print(Rating)
    Rating = PlayListRatings[i]
    i = i + 1
    
S=sum(PlayListRatings)

print(S)

# Functions

In [ ]:
#sum function
PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]
PLR = PlayListRatings
S=sum(PlayListRatings)

In [ ]:
sorted_PLR=sorted(PLR) #creates a new list of sorted
print(sorted_PLR)

In [ ]:
# Sorts list
PLR.sort() #doesn't create a new list, but modifies existing list 
print(PLR)

In [ ]:
# Reverses list
PLR.reverse()
print(PLR)

In [ ]:
# Making your own function

def add1(a): #def defines a function 
    """add 1 to a""" #adds a help to the function
    
    b=a+1
    
    return b

In [ ]:
add1(5) #call function

In [ ]:
c=add1(10)
c

In [ ]:
help(add1) #explains what the function does

In [ ]:
# Multiplying function

def Mult(a,b):
    """Multiplies one value with another"""
    c=a*b
    return c

In [ ]:
Mult(2,'Michael Jackson')

In [ ]:
help(Mult)

In [ ]:
def MJ():
    print('Michael Jackson')
    
MJ()

In [ ]:
# loops in functions

def printStuff(Stuff):
    
    for i,s in enumerate(Stuff):
        print("Album", i, "Rating is ",s)
        
album_ratings=[10.0, 8.5, 9.5]

printStuff(album_ratings)

In [ ]:
def f(c):
    return sum(c)

f(PLR)

# Creating Classes

In [ ]:
class Circle(object): #define your class
    
#data attributes used to initialise each instance of the class

    def __init__(self,radius,color): #init is a constructor, a special function on python to tell it you are making a new class, make sure it's __init__ not _init_
        self.radius=radius;
        self.color=color;
        
    def add_radius(self,r):
        self.radius = self.radius+r

In [ ]:
C1 = Circle(10,"red")

C1.radius
C1.color

dir(Circle)

In [ ]:
C1.color="blue" #changing the data attribute
C1.color

In [ ]:
C2=Circle(2,'red')

C2.add_radius(8)

C2.radius

C2.color

In [ ]:
class Rectangle(object): #define your class
    
#data attributes used to initialise each instance of the class

    def _init_(self,color, height, width): #init is a constructor, a special function on python to tell it you are making a new class
        self.height=height;
        self.width=width;
        self.color=color;

In [ ]:
class Car(object):
    def __init__(self,make,model,color):
        self.make=make;
        self.model=model;
        self.color=color;
        self.owner_number=0 
    def car_info(self):
        print("make: ",self.make)
        print("model:", self.model)
        print("color:",self.color)
        print("number of owners:",self.owner_number)
    def sell(self):
        self.owner_number=self.owner_number+1

In [ ]:
Car1=Car('BMW','M3','red')
Car1.car_info()

In [ ]:
for i in range(5):
    Car1.sell()
    Car1.car_info()

# Importing matplotlib

In [ ]:
import matplotlib.pyplot as plt

%matplotlib inline

In [ ]:
#creating a class circle

class Circle(object):
    
    # Constructor
    def __init__(self, radius=3, color='blue'):
        self.radius = radius
        self.color = color 
    
    # Method
    def add_radius(self, r):
        self.radius = self.radius + r
        return(self.radius)
    
    # Method
    def drawCircle(self):
        plt.gca().add_patch(plt.Circle((0, 0), radius=self.radius, fc=self.color))
        plt.axis('scaled')
        plt.show()

In [ ]:
# Create an object RedCircle

RedCircle = Circle(10, 'red')

In [ ]:
# Find out the methods can be used on the object RedCircle

dir(RedCircle)

In [ ]:
# Call the method drawCircle

RedCircle.drawCircle()

In [ ]:
# Use method to change the object attribute radius

print('Radius of object:',RedCircle.radius)
RedCircle.add_radius(2)
print('Radius of object of after applying the method add_radius(2):',RedCircle.radius)
RedCircle.add_radius(5)
print('Radius of object of after applying the method add_radius(5):',RedCircle.radius)

In [ ]:
# Create a blue circle with a given radius

BlueCircle = Circle(radius=100)

In [ ]:
# Call the method drawCircle

BlueCircle.drawCircle()

# Opening files

In [ ]:
import os

cwd = os.getcwd()

print(cwd)

In [ ]:
# Read the Example1.txt

example1 = "./Resources/Data/example1.txt"
file1 = open(example1,"r") # This is to read the file, not editing

# Print the path of the file

file1.name

In [ ]:
# Print the mode of file, either 'r' or 'w'

file1.mode

In [ ]:
# Read the file

FileContent = file1.read()
FileContent

In [ ]:
# Print the file with '\n' as a new line

print(FileContent)

In [ ]:
# Type of file content

type(FileContent)

In [ ]:
# Close file after finish
# It is good practice to close files after opening

file1.close()

# A Better Way to Open a File
#Using the <code>with</code> statement is better practice, it automatically closes the file even if the code encounters an exception. The code will run everything in the indent block then close the file object.

In [ ]:
# Open file using with, automatically closes the file object

example1 = "./Resources/Data/example1.txt"

with open(example1, "r") as file1:
    FileContent = file1.read()
    print(FileContent)

In [ ]:
# Verify if the file is closed

file1.closed

In [ ]:
# See the content of file without having the original text file open 

print(FileContent)

We don’t have to read the entire file, for example, we can read the first 4 characters by entering three as a parameter to the method **.read()**:

In [ ]:
# Read first four characters

with open(example1, "r") as file1:
    print(file1.read(4))

In [ ]:
# Read certain amount of characters

with open(example1, "r") as file1:
    print(file1.read(4))
    print(file1.read(4))
    print(file1.read(7))
    print(file1.read(15))

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%204/Images/ReadChar.png" width="500" />

In [ ]:
# Read certain amount of characters

with open(example1, "r") as file1:
    print(file1.read(16))
    print(file1.read(5))
    print(file1.read(9))

In [ ]:
# Iterate through the lines

with open(example1,"r") as file1:
        i = 0; # Why semicolon?
        for line in file1:
            print("Iteration", str(i), ": ", line)
            i = i + 1;

In [ ]:
# Read all lines and save as a list

with open(example1, "r") as file1:
    FileasList = file1.readlines()

In [ ]:
# Print the first line

FileasList[0]

# Writing to Files

In [ ]:
example2= "./Resources/Data/example2.txt"

with open(example2, "w") as file1:
    file1.write("This is line A\n")
    file1.write("This is line B\n")
    file1.write("This is line X")

In [ ]:
# Verify if the copy is successfully executed

with open('./Resources/Data/example2.txt','r') as testwritefile:
    print(testwritefile.read())

In [ ]:
lines = ["This is line A\n", "This is line B\n", "This is line C\n"]

with open(example2, "w") as file1:
    for line in lines:
        file1.write(line)

In [ ]:
# copies data in example1 to example 2

example1 = "./Resources/Data/example1.txt"

with open(example1,"r") as readfiles:
    with open("./Resources/Data/example3.txt","w") as writefile:
        for line in readfiles:
            writefile.write(line)

# Dependencies and libraries, Pandas-loading data

In [ ]:
import pandas as pd #gives access to pre-built classes and functions, uses pd instead of typing pandas everytime

In [ ]:
csv_path='file1.csv'
df=pd.read_csv(csv_path) #df is short for dataframe
df.head() #examines the first five rows of the dataframe

# loading excel files
# xlsx_path='file1.xlsx'
# df=pd.read_excel(xlsx_path)
# df.head()

In [ ]:
df=pd.DataFrame({'a':[11,21,31],'b':[21,22,23]})

df.head() #plots the first three rows

In [ ]:
df['a'] #obtain column a

In [ ]:
# [row, column]

df.iloc[1,0] #can also use df.ix but it is depreciated

In [ ]:
df['a']==11 #returns a bool value if anything in column 'a' is equal to 11

# Numpy arrays - for scientific computing - operations are computationally faster and require less memory

In [ ]:
import numpy as np

a=np.array([0,1,2,3,245971597125])
a[0]

In [ ]:
type(a)

In [ ]:
#data type of array

a.dtype

In [ ]:
#how big is the array

a.size

In [ ]:
#how many dimensions

a.ndim

In [ ]:
a.shape #tuple of integers indicating the size of the array in each dimension

In [ ]:
#Create a numpy array with real numbers

b=np.array([3.1,11.02,6.2,213.2,5.2])

In [ ]:
type(b)

In [ ]:
b.dtype

In [ ]:
#Changing values within arrays

b[0]=20 #changes the first element of the array

b

In [ ]:
#Slicing arrays

c=b[:] #copying the entire array of b to c

c

In [ ]:
#adding new values to array

c[3:5]=300,400

c

# Working with vectors, Numpy 1D arrays

In [ ]:
# Vector addition in arrays

u=np.array([1,0])
v=np.array([0,1])

z=u+v

z

In [ ]:
# vector addition in lists

u=[1,0]
v=[0,1]
z=[]

for n, m in zip(u,v):
    z.append(n+m) # NB append adds based on consolidation of elements
    
z

In [ ]:
# Vector subtraction in arrays
u=np.array([1,0])
v=np.array([0,1])

z=u-v

z

In [ ]:
# Vector subtraction in lists

u=[1,0]
v=[0,1]
z=[]

for x, y in zip(u,v):
    z.append(x-y)   
z

In [ ]:
# Vector multiplication in arrays

y=np.array([1,2])

z=2*y

z

In [ ]:
# List multiplication

y=[1,2]
z=2*y #this multiplies the list! different from arrays
z

In [ ]:
# Vector multiplication in lists and this operation is much slower

y=[1,2]
z=[]

for n in y:
    z.append(2*n)
z

In [ ]:
# Hadamard product in arrays

u=np.array([1,2])
v=np.array([3,2])

z=u*v
z

In [ ]:
# Hadamard product in lists

u=[1,2]
v=[3,2]
z=[]

for n,m in zip(u,v):
    z.append(n*m)
z

In [ ]:
# Dot product

u=np.array([1,2])
v=np.array([3,2])

result=np.dot(u,v) #1*3+2*2

result

In [ ]:
# Adding constants to a numpy Array

u=np.array([1,2,3,-1])

z=u+1 #broadcasting

print(u)
print(z)

# Universal functions for numpy arrays

In [ ]:
# Finding mean

a=np.array([2,-1,1,-1])

mean_a=a.mean()

print(mean_a)

mean_a.dtype

In [ ]:
# Finding max

b=np.array([1,-2,3,4,999])

max_b=b.max()

max_b

In [ ]:
# pi value

np.pi

In [ ]:
# sin functions

x=np.array([0,np.pi/2,np.pi])

y=np.sin(x)

y

In [ ]:
# linspace functions, returns evenly spaced numbers over a specified interval

np.linspace(-10,10,num=5)

In [ ]:
a=np.linspace(0,10,num=11)
b=a*2
b

In [ ]:
# Plotting Mathematical Functions

x=np.linspace(0,2*np.pi,10)

print(x)

y=np.sin(x)

plt.plot(x,y)

# Working with Numpy 2D Arrays

In [ ]:
a=[[11,12,13],[21,22,23],[31,32,33]]

A=np.array(a)

A

In [ ]:
# Determine number of axes or dimensions in the array
A.ndim

In [ ]:
A.shape

In [ ]:
A[1][2] #looks at the 2nd row and 3rd column

In [ ]:
A[0:2,2]

In [ ]:
x=[[1,0],[0,1]]
y=[[2,1],[1,2]]

X=np.array(x)
Y=np.array(y)

X+Y

In [ ]:
a=np.array([[2,-1],[1,-1]])

a

In [ ]:
# Addition

x=np.array([[1,0],[0,1]])
y=np.array([[2,1],[1,2]])

Z=X+Y

Z

In [ ]:
# Scalar product

ZZ=2*Z

ZZ

In [ ]:
# dot product
x=np.array([[1,0],[0,1]])
y=np.array([[2,1],[1,2]])

Z=X*Y

Z

# Matrix multiplication

In [ ]:
#have to ensure columns in A is equal to number of rows in B
#takes i-th row of "A" with the j-th columns of "B" 

A=np.array([[0,1,1],[1,0,1]])
B=np.array([[1,1],[1,1],[-1,1]])

C=np.dot(A,B)

C

# Handling data

In [7]:
import pandas as pd
import numpy as np
 
# List of Tuples
matrix = [(22, 16, 23),(33, np.NaN, 11),(44, 34, 11),(55, 35, np.NaN),(66, 36, 13)]

# Create a DataFrame object
dfObj = pd.DataFrame(matrix, index=list('abcde'), columns=list('xyz'))

print('Original Dataframe Contents :')
print(dfObj)

print('***** Get Maximum value in every column ***** ')

# Get a series containing maximum value of each column
maxValuesObj = dfObj.max()

print('Maximum value in each column : ')
print(maxValuesObj)

print('***** Get Maximum value in every row ***** ')

# Get a series containing maximum value of each row
maxValuesObj = dfObj.max(axis=1)

print('Maximum value in each row : ')
print(maxValuesObj)


print('***** Get Maximum value in every column without skipping NaN ***** ')

# Get a series containing maximum value of each column without skipping NaN
maxValuesObj = dfObj.max(skipna=False)

print('Maximum value in each column including NaN: ')
print(maxValuesObj)

print('***** Get Maximum value in a single column ***** ')

# Get maximum value of a single column 'y'
maxValue = dfObj['y'].max()

print("Maximum value in column 'y': " , maxValue)

# Get maximum value of a single column 'y'
maxValue = dfObj.max()['y']

print("Maximum value in column 'y': " , maxValue)

print('***** Get Maximum value in certain columns only ***** ')

# Get maximum value of a single column 'y'
maxValue = dfObj[['y', 'z']].max()

print("Maximum value in column 'y' & 'z': ")
print(maxValue)


print('***** Get row index label of Maximum value in every column *****')

# get the index position of max values in every column
maxValueIndexObj = dfObj.idxmax()

print("Max values of columns are at row index position :")
print(maxValueIndexObj)


print('***** Get Column name of Maximum value in every row *****')

# get the column name of max values in every row
maxValueIndexObj = dfObj.idxmax(axis=1)

print("Max values of row are at following columns :")
print(maxValueIndexObj)

Original Dataframe Contents :
    x     y     z
a  22  16.0  23.0
b  33   NaN  11.0
c  44  34.0  11.0
d  55  35.0   NaN
e  66  36.0  13.0
***** Get Maximum value in every column *****
Maximum value in each column :
x    66.0
y    36.0
z    23.0
dtype: float64
***** Get Maximum value in every row *****
Maximum value in each row :
a    23.0
b    33.0
c    44.0
d    55.0
e    66.0
dtype: float64
***** Get Maximum value in every column without skipping NaN *****
Maximum value in each column including NaN:
x    66.0
y     NaN
z     NaN
dtype: float64
***** Get Maximum value in a single column *****
Maximum value in column 'y':  36.0
Maximum value in column 'y':  36.0
***** Get Maximum value in certain columns only *****
Maximum value in column 'y' & 'z':
y    36.0
z    23.0
dtype: float64
***** Get row index label of Maximum value in every column *****
Max values of columns are at row index position :
x    e
y    e
z    a
dtype: object
***** Get Column name of Maximum value in every row *****
Max values of row are at following columns :
a    z
b    x
c    x
d    x
e    x
dtype: object